{% extends 'layout.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h4>Name: <small>{{ current_user.name }}</small></h4>
        <h4>Profile: <img class="rounded-circle article-img profile-pic-account" src="{{ url_for('static', filename='profile-pictures/' + current_user.image_file) }}" alt="profile-image"></h4>
        <h4>Username: <small>{{ current_user.username }}</small></h4>
        <h4>Email: <small>{{ current_user.email }}</small></h4>
        <form action="{{ url_for('users.update_account') }}">
            <button class="btn btn-primary">Update</button>
        </form><br>

        {% for tweet in tweets %}
            <div>
                <p><img class="rounded-circle article-img profile-pic" src="{{ url_for('static', filename='profile-pictures/' + current_user.image_file) }}" alt="profile-image"> <a class="a-name" href="{{ url_for('tweets.user_tweets', username=tweet.author.username) }}">{{ tweet.author.name }}</a> <small class="username">@{{ tweet.author.username }}</small> . <small>{{ tweet.date_posted.strftime('%Y-%m-%d') }}</small></p>
                <p class="tweet-content">{{ tweet.tweet_content }}</p>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}