{% extends 'layout.html' %}

{% block content %}
    <div class="left-side">
        <strong>Follow your interests.</strong><br><br>
        <strong>Hear what people are talking about</strong><br><br>
        <strong>Join the conversation</strong><br><br>
    </div>

    <div class="right-side">
        <div>
            <h3>See what's happening in<br>world right now</h3><br>
            <strong>Join Twitter-Clone today.</strong>
        </div><br>

        <div>
            <form action="{{ url_for('users.signup') }}", method="POST">
                <button class="btn btn-primary">Sign Up</button>
            </form>
            <br>
            <form action="{{ url_for('users.login') }}", method="POST">
                <button class="btn btn-outline-primary">Login In</button>
            </form>
        </div>
    </div>
{% endblock content %}
