{% extends 'layout.html' %}

{% block content %}
    <div class="left-side">
        <strong>Follow your interests.</strong><br><br>
        <strong>Hear what people are talking about</strong><br><br>
        <strong>Join the conversation</strong><br><br>
    </div>

    <div class="right-side">
        <div>
            <h3>See what's happening in<br>world right now</h3><br>
            <strong>Join Twitter-Clone today.</strong>
        </div><br>

        <div>
            <button class="btn btn-primary"><a href="{{ url_for('users.signup') }}" id="signup-btn-link">Sign Up</a></button>
            <button class="btn btn-outline-primary" ><a href="{{ url_for('users.login') }}" id="login-btn-link">Login In</a></button>
        </div>
    </div>
{% endblock content %}
