{% extends 'layout.html' %}

{% block content %}
    <h5><strong>Home</strong></h5>
    <h5>
        <form action="{{ url_for('users.account') }}">
            <button class="btn btn-primary">Account</button>
        </form><br>
    </h5><hr>

    <!-- New Tweet form -->
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <img class="rounded-circle article-img profile-pic" src="{{ url_for('static', filename='profile-pictures/') + current_user.image_file }}" alt="profile-image">
                {{ form.tweet(class="form-control tweet-textarea", id="exampleFormControlTextarea1") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div><hr>

    <!-- Print all tweets -->
    {% for tweet in tweets %}
        <div>
            <p><img class="rounded-circle article-img profile-pic" src="{{ url_for('static', filename='profile-pictures/' + current_user.image_file) }}" alt="profile-image"> <a class="a-name" href="{{ url_for('tweets.user_tweets', username=tweet.author.username) }}">{{ tweet.author.name }}</a> <small class="username">@{{ tweet.author.username }}</small> . <small>{{ tweet.date_posted.strftime('%Y-%m-%d') }}</small></p>
            <p class="tweet-content">{{ tweet.tweet_content }}</p>
            <hr>
        </div>
    {% endfor %}
    
    {% if current_user.is_authenticated %}
        <form action="{{ url_for('users.logout') }}">
            <button class="btn btn-danger">Logout</button>
        </form>
    {% endif %}
{% endblock content %}
