{% extends 'layout.html' %}

{% block content %}
        <h2>{{ user.username }} Tweets</h2><br>
        <!-- Print all tweets -->
        {% for tweet in tweets %}
        <div>
            <p><img class="rounded-circle article-img profile-pic" src="{{ url_for('static', filename='profile-pictures/' + current_user.image_file) }}" alt="profile-image"><strong class="a-name">{{ tweet.author.name }}</strong><small class="username">@{{ tweet.author.username }}</small> . <small>{{ tweet.date_posted.strftime('%Y-%m-%d') }} </small> </p>
            <p class="tweet-content">{{ tweet.tweet_content }}</p>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
