{% extends 'layout.html' %}

{% block content %}
        <h2>{{ user.username }} Tweets</h2><br>
        <!-- Print all tweets -->
        {% for tweet in tweets %}
        <div>
            <h4 class="username"><img class="rounded-circle article-img profile-pic" src="{{ url_for('static', filename='profile-pictures/' + current_user.image_file) }}" alt="profile-image"> {{ tweet.author.username }}</h4>
            <small>Posted on: {{ tweet.date_posted.strftime('%Y-%m-%d') }}</small>
            <p><strong>Tweet: </strong>{{ tweet.tweet_content }}</p>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
